[user]
	name = Anshul Joshi
	email = joshianshul98@gmail.com
[credential]
	helper = osxkeychain
[filter "lfs"]
	process = git-lfs filter-process
	required = true
	clean = git-lfs clean -- %f
	smudge = git-lfs smudge -- %f
[core]
	excludesfile = ~/.gitignore_global
[merge]
	tool = codediff
[mergetool]
	prompt = false
	keepBackup = false
[mergetool "codediff"]
	cmd = nvim \"$MERGED\" -c \"execute 'CodeDiff --exit-on-close merge' fnameescape(expand('%'))\"
[diff]
	tool = codediff
[difftool]
	prompt = false
[difftool "codediff"]
	cmd = nvim \"$LOCAL\" \"$REMOTE\" -c \"execute 'CodeDiff --exit-on-close file' fnameescape(argv(0)) fnameescape(argv(1))\"
